
.dermatologists{
    min-height: 100vh;
    padding-top: 10%;
  }
  
  .dermatologists .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 5rem;
  }
  
  .dermatologists .box-container .box{
    height:30rem;
    width:30rem;
    margin:3rem;
    overflow: hidden;
  }
  